body{
    background-image: linear-gradient(to right, rgb(218, 165, 32, 0), rgb(218, 165, 32, 1));
}
h1{
    font-family: monospace;
    /* font-variant: small-caps; */
    position:relative;
    left: 10px;
    color:darkorange;
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
    position: relative;
    left: 10px;
}
p{
    font-family:monospace;
    position: relative; 
    left: 30px;
}

#choose_mode {
    position: absolute;
    top: 10px;
    left: 600px;
    /* height: 500px; */
}

#canvas{
    position: absolute;
    top: 10px;
    left: 10px;
}
button{
    opacity: 0.6;
}
button:hover{
    opacity: 1;
}

#eraser{
    background-image: url(./photo/eraser_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height:50px;
    width: 80px;
    position: relative;
    left: 10px;
}
#pen{
    background-image: url(./photo/pen_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    position: relative;
    left: 10px;
}
#text{
    background-image: url(./photo/text_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    position: relative;
    left: 10px;
}
#undo{
    background-image: url(./photo/undo_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    position: relative;
    left: 10px;
}
#redo{
    background-image: url(./photo/redo_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    position: relative;
    left: 10px;
}
#refresh{
    background-image: url(./photo/refresh_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    position: relative;
    left: 10px;
}
#circle{
    background-image: url(./photo/circle_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    position: relative;
    left: 10px;
}
#triangle{
    background-image: url(./photo/triangle_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    position: relative;
    left: 10px;
}
#rectangle{
    background-image: url(./photo/rectangle_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    position: relative;
    left: 10px;
}
#download{
    background-image: url(./photo/download_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    position: relative;
    left: 10px;
}
#imageLoader>input{
    display: none;
}
#rainbow{
    background-image: url(./photo/rainbow_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    position: relative;
    left: 10px;
}
/* #imageLoader{
    background-image: url(upload_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
} */
#upload{
    
    display: inline-block;
    background-image: url(./photo/upload_icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    opacity: 0.6;
    position: relative;
    left: 10px;
}
#upload:hover{
    opacity: 1;
}
/* #color-picture{
    background-image: url(apple.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-color: palegoldenrod;
    border: none;
    height: 50px;
    width: 80px;
    display: inline-block;
}
#color-picker{
    display: none;
} */


input[type="file"]{
    display: none;
}
label{
    font-family:monospace;
    font-size: 14px;
}
select{
    padding: 4px 16px;
    border: none;
    border-radius: 4px;
    background-color:slategray;
    font-family: monospace;
    font-size: 14px;
    color: palegoldenrod;
}
#color-picker{
    font-family: monospace;
}

.eraser{
    cursor: url(./photo/eraser16px.png), auto;
}

.text {
    cursor: text;
}
.pen{
    cursor: url(./photo/pen16px.png), auto;
}
.triangle{
    cursor: url(./photo/triangle_16px.png), auto;
}
.rectangle{
    cursor: url(./photo/rectangle_16px.png), auto;
}
.circle{
    cursor: url(./photo/circle_16px.png), auto;
}
.rainbow{
    cursor: url(./photo/rainbow_16px.png), auto;
}